.changeContainer {
    flex-direction: column;
    justify-content: space-around;

}

.mainBlock {
    display: flex;
    justify-content: space-evenly;
    min-height: 30vh;
    background-color: #e4ffbf;
    margin: 0 auto;
}

.hire {
    display: flex;

    background-color: white;
    width: 200px;
    height: 50px;

}

.hire button {
    border: none;
    background-color: white;
    width: 200px;
    height: 50px;
    font-size: 23px;
}
