.skillContainer{
flex-direction:column ;
align-items: center;





}
.mainBlockworks{
    min-height: 100vh;
    background-color: #fff6b6;
}

.skill{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.changeContainerworks{
    flex-direction: column;
    align-items: center;

}