.skillContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 32px;


}

.mainBlockskills {
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    align-items: center;



}

.descriptionSkillsBlock {
    /*border: red 1px dashed;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.descriptionSkillsBlock div p {
    font-family: 'Syne', sans-serif;
    color: #868a9b;
    font-size: 16px;
    line-height: 1.75em;
    font-weight: 400;
    margin-bottom: 4px;
    /*width: 58.33333333%*/
}

.descriptionSkillsBlockdiv {
    width: 550px;

}

.skill {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 35px;
    align-items: center;
}

.descriptionSkillsBlock div h1 {
    font-size: 60px;
    line-height: 1.2em;
    font-weight: 700;
    margin-bottom: 0px;
    color: #18191d;
    font-family: 'Syne', sans-serif;

}