@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Raleway:ital,wght@1,600&family=Syne:wght@400;500;600;700;800&display=swap');


.changeContainer{
    justify-content: center;
  width: 200px;


}

.main {
   /*flex-direction: column;*/

    /*background-color: #abff8d;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    display: flex;
    /*justify-content: center;*/
    /*align-items: center;*/


}

.image {
    width: 300px;
    height: 300px;
    background-color: #1b3412;
    border-radius: 50%;

}
@media screen and (max-width: 1000px){
.content{
    flex-direction: column;
    align-items: center;
}

}

.header_text{
    font-size: 70px;
    line-height: 1em;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #18191d;
    text-shadow: 1px 1px #fff;
    font-family: 'Syne', sans-serif;
}

.text_span{

    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 2px;
    color: #18191d;
    margin-bottom: 0px;
    font-family: 'Syne', sans-serif;
}
.text_p{
    font-family: 'Syne', sans-serif;
    color: #868a9b;
    font-size: 16px;
    line-height: 1.75em;
    font-weight: 400;
    background: #F4F5F7;
}
.span_style{
margin-bottom: 30px;
}
.imgBlock{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: flex;
    background-color: #18191d;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.imgBlock:hover{

}