.changeContainer {
    flex-direction: column;
    justify-content: space-around;

}

.mainBlock {
    display: flex;
    justify-content: space-evenly;
    min-height: 50vh;
    margin: 0 auto;
}
.changeContainerFooter {
    flex-direction: column;
    padding-top: 32px;
}
.footerBlock{

    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.elem{
    background-color: #6684ff;
    border-radius: 14px;
    width: 70px;
    height: 70px;
}

